html{
  background-color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
body{
  background-color: #ffffff;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
